capricorn
*.a
*.c
*dirstamp
*.geany
*.h
*.lo
*.la
*.o
*.Plo
*.Po
*.vapi
*.stamp
*Makefile
*Makefile.in
compile
config.*
configure
install-sh
libtool
ltmain.sh
missing
aclocal.m4
autom4te.cache/
m4/
po/
ui/*.ui~

