capricorn
*.a
*.c
*dirstamp
*.geany
*.h
*.lo
*.la
*.o
*.Plo
*.Po
*.vapi
*.stamp
*Makefile
*Makefile.in
compile
config.*
configure
configure.scan
install-sh
libtool
ltmain.sh
missing
aclocal.m4
autoscan.log
autom4te.cache/
m4/
po/
data/capricorn.desktop
src/utils/DirPath.vala
ui/*.ui~

